[submodule ".cron/Bear-Markdown-Export"]
	path = .script/Bear-Markdown-Export
	url = git@github.com:ceilfors/Bear-Markdown-Export.git
[submodule ".vuepress/markdown-it-wikilinks"]
	path = .vuepress/markdown-it-wikilinks
	url = git@github.com:ceilfors/markdown-it-wikilinks.git
